#include "../src/resource.h"
#include <winres.h>

IDI_ICON ICON "panitent.ico"
IDI_LOG ICON "log.ico"
#ifdef __MINGW32__
1 RT_MANIFEST "panitent.exe.manifest"
#endif

IDB_TOOLS     BITMAP "tool32bpp.bmp"
IDB_TOOLS24   BITMAP "tool32bpp@24.bmp"
IDB_CLOSEBTN  BITMAP "close.bmp"

2 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEOS          VOS_NT
FILETYPE        VFT_APP
FILEFLAGS       VS_FF_PRERELEASE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName",      "Aragajaga"
            VALUE "FileDescription",  "Panit.ent Graphics Editor"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "panitent"
            VALUE "LegalCopyright",   "Copyright 2017-2021 Aragajaga"
            VALUE "OriginalFilename", "panitent.exe"
            VALUE "ProductName",      "Panit.ent"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x00, 1200
    END
END

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Panit.ent"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_ICON, -1, 14, 14, 21, 20
    LTEXT           "Panit.ent, version 1.0", -1, 42, 14, 114, 8, SS_NOPREFIX
    LTEXT           "(C) 2017-2021 Aragajaga", -1, 42, 26, 114, 8
    DEFPUSHBUTTON   "OK", IDOK, 113, 41, 50, 14, WS_GROUP
END

IDD_VIEWPORTSETTINGS DIALOGEX 0, 0, 309, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Viewport settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,198,155,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,252,155,50,14
    CONTROL         "Double buffering",IDC_DOUBLEBUFFER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,7,69,10
    CONTROL         "Exclude canvas area when painting background",IDC_BKGNDEXCLUDECANVAS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,20,168,10
    CONTROL         "Fill two rectangles",IDC_BKGNDFILLRECT,"Button",BS_AUTORADIOBUTTON,17,33,73,10
    CONTROL         "Use GDI regions",IDC_BKGNDREGION,"Button",BS_AUTORADIOBUTTON,17,44,67,10
    CONTROL         "Show debug info",IDC_SHOWDEBUG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,61,69,10
END

IDD_PALETTESETTINGS DIALOGEX 0, 0, 309, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Palette settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,198,155,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,252,155,50,14
    LTEXT           "Swatch size:",-1,7,10,41,8
    EDITTEXT        IDC_SWATCHSIZEEDIT,52,7,40,13,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SWATCHSIZESPIN,"msctls_updown32",UDS_ARROWKEYS,92,6,12,14
    LTEXT           "Checker:",-1,7,27,32,8
    EDITTEXT        IDC_CHECKERSIZEEDIT,52,26,40,13,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_CHECKERSIZESPIN,"msctls_updown32",UDS_ARROWKEYS,92,25,12,14
    CONTROL         "",IDC_CHECKERCOLOR1,"Win32Class_SwatchControl2",WS_BORDER | WS_TABSTOP,51,44,17,16
    CONTROL         "",IDC_CHECKERCOLOR2,"Win32Class_SwatchControl2",WS_BORDER | WS_TABSTOP,73,44,18,16
END

IDD_TOOLBOXSETTINGS DIALOGEX 0, 0, 309, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Toolbox settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,198,155,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,252,155,50,14
    LTEXT           "Icon theme:",-1,7,10,41,8
    COMBOBOX        IDC_TOOLBARICONTHEME,47,7,132,30,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
END

IDD_BRUSHPROP DIALOGEX 0, 0, 309, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Brush Properties"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,198,155,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,252,155,50,14
    CONTROL         "",IDC_BRUSHSIZE,"msctls_trackbar32",TBS_NOTICKS | WS_TABSTOP,183,53,119,15
    LISTBOX         IDC_BRUSHLIST,7,7,147,162,LBS_SORT | LBS_NOINTEGRALHEIGHT | LBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Size:",-1,165,56,16,8
    CONTROL         "",IDC_BRUSHPREVIEW,"Static",WS_BORDER | SS_BITMAP,165,7,137,41
END

IDD_NEWDOCUMENT DIALOGEX 0, 0, 173, 139
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New Document"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,109,115,57,17
    LTEXT           "Preset",-1,7,9,22,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_DOCUMENTPRESET,34,7,132,30,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Width",-1,38,37,20,8,0,WS_EX_RIGHT
    EDITTEXT        IDC_DOCUMENTWIDTH,62,34,63,14,ES_AUTOHSCROLL
    LTEXT           "Height",-1,36,55,22,8,0,WS_EX_RIGHT
    EDITTEXT        IDC_DOCUMENTHEIGHT,62,52,63,14,ES_AUTOHSCROLL
    PUSHBUTTON      "",IDC_WHLOCK,131,44,15,14,BS_BITMAP
    PUSHBUTTON      "",IDC_WHSWAP,151,44,15,14,BS_BITMAP
    LTEXT           "Background",-1,20,80,38,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_DOCUMENTBKGND,62,78,88,30,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | CBS_CDCLRSEL_SWATCHBIAS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Est. RAM:",IDC_DOCUMENTRAMLABEL,25,100,33,8,0,WS_EX_RIGHT
    LTEXT           "0 Kb",IDC_DOCUMENTRAM,62,100,15,8
    PUSHBUTTON      "",IDC_WHNOLIMIT,7,118,15,14,BS_BITMAP
END
